.main__body.is-contacts {
  @include media-breakpoint-up(lg) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: $size-4;
  }
}

.is-contacts .main__section + .main__section {
  @include media-breakpoint-down(lg) {
    margin-top: $size-line * 2;
  }
}

// row start / column start / row span or end / column span or end
.is-contacts .main__section.is-form {
  @include media-breakpoint-up(lg) {
    grid-area: 1 / 1 / auto / span 2;
  }

  @include media-breakpoint-up(lg) {
    max-width: 75%;
  }
}

.is-contacts .main__section.is-emails {
  @include media-breakpoint-up(lg) {
    grid-area: 2 / 1 / auto / auto;
  }
}

.is-contacts .main__section.is-phones {
  @include media-breakpoint-up(lg) {
    grid-area: 3 / 1 / auto / auto;
  }
}

.is-contacts .main__section.is-messengers {
  @include media-breakpoint-up(lg) {
    grid-area: 2 / 2 / span 2 / auto;
  }
}

.is-contacts .main__section.is-social-accounts {
  ul {
    @extend %list-inline;
  }

  a {
    @extend %btn, %btn-base;

    --padding: 0 #{$size-2};

    &:hover {
      background-color: var(--color-background-alt);
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    grid-area: 4 / 1 / auto / span 2;

    ul {
      margin-left: $size-2;
    }
  }
}


.is-contacts .main__section dl {
  color: var(--color-ink-2ry);
}
