// noindex
noscript
  .alert.is-warning.is-global(role='alert')
    p
      svg.icon(aria-hidden='true' focusable='false')
        use(xlink:href='/projects/#{ExtraData.domain}/images/base/icons/sprite.svg#icon-warning')
      |
      | JavaScript is currently disabled. The site requires JavaScript to function correctly. Please <a href="http://enable-javascript.com/" target="_blank" rel="noopener noreferrer nofollow">enable Javascript in your browser</a>.
// /noindex
