// stylelint-disable selector-no-qualifying-type

// -----------------------------------------------------------------------------
// ARTICLE TOOLS: COMMANDS & STATS
// -----------------------------------------------------------------------------
// #region

.main__tools {
  // page-footer override
  border-top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 .4rem 0 0;

  @include media-breakpoint-up(sm) {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }
}

.main__tools a:hover {
  text-decoration: none;
}

// Buy button

.main__tools .btn.is-primary {
  display: none;
}


// More menu
.main__tools .dropup {
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
  }

  @include media-breakpoint-up(lg) {
    margin-left: $size-1;
  }
}

.main__tools .dropup .dropdown__menu {
  top: auto;
  right: calc(100% - #{$size-5});
  bottom: $size-5;
  left: auto;
  width: var(--size-width-sm);
  min-width: 0;
}

// Stats

.main__stats {
  color: var(--color-ink-2ry);
  display: flex;
  list-style: none;
  margin-left: 0;
  padding: $size-line 0 0 1.7rem;
}

.main__stats figure {
  display: flex;
  align-items: center;
  padding: 0;
}

.main__stats .icon {
  margin-right: $size-1;
}

.main__stats figure + figure {
  margin-left: $size-2;
}

// Abuse
.btn.is-abuse,
a[onclick='abusepost()'] {
  display: none;

  @include media-breakpoint-up(md) {
    display: inline-block;
    padding-top: .1rem;

    small {
      font-size: var(--font-size-small);
    }
  }
}

a[onclick='abusepost()']:not(.is-abuse) {
  @include media-breakpoint-up(md) {
    transform: translateY(45px);
  }
}

// #endregion

// -----------------------------------------------------------------------------
// LEGACY: FULL POST
//------------------------------------------------------------------------------
// #region

// Tags
.post-tag {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: $size-1 0 ($size-2 + .4rem);
}

.post-tag a {
  @extend %tag;

  &::before,
  &::after {
    display: none;
  }
}

.post-tag a:last-child {
  margin-right: 0;
}



// Voting

.main__rating {
  display: flex;
  align-items: center;
  gap: $size-1;
}

// Stars
.main__rating > div:nth-child(1) {
  margin-right: $size-2;
}


.postrating {
  font-size: var(--font-size-small) /* !important */;
  text-shadow: none /* !important */;
}

.comment .rating {
  display: inline-flex;
}

font[color='green'] {
  color: var(--color-ink-success-text);
  font-weight: normal;
}

font[color='red'] {
  color: var(--color-ink-error-text);
  font-weight: normal;
}

a[onclick^='vote'] {
  border-radius: var(--shape-border-radius-base);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background var(--motion-duration-sm);
  width: $size-5;
  height: $size-5;

  &:hover {
    background-color: var(--color-background-alt);
    text-decoration: none;
  }
}

// Donate
a[href*='/donate'] {
  border-radius: var(--shape-border-radius-base);
  display: inline-block;
  vertical-align: middle;
  transition: background var(--motion-duration-sm);
  width: $size-5;
  height: $size-5;

  &:hover {
    background-color: var(--color-background-alt);
    text-decoration: none;
  }

  img {
    display: none;
  }
}

// Social

.at-style-responsive .at-share-btn {
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: var(--shape-border-radius-base) !important;
  margin: 0 $size-1 0 0 !important;
  padding: 0 !important;
  width: 5.2rem;
  height: 5.2rem;

  &:hover {
    background-color: var(--color-background-alt) !important;
    transform: none !important;
  }

  .at-icon-wrapper {
    display: none;
  }
}

.at-svc-facebook {
  background-image: var(--asset-data-image-facebook);
}

.at-svc-telegram {
  background-image: var(--asset-data-image-telegram);
}

.at-svc-vk {
  background-image: var(--asset-data-image-vk);
}

// Edit
img[src*='editpost.png'] {
  display: none;

  + small {
    background: rgba(0, 0, 0, 0) var(--asset-data-image-edit) no-repeat 0 50%;
    display: inline-block;
    font-size: var(--font-size-small);
    line-height: $size-line;
    margin-left: -.4rem;
    padding-left: $size-5;
    position: relative;
    height: $size-line;

    &:hover {
      text-decoration: none;
    }
  }
}

// #region

// -----------------------------------------------------------------------------
// LEGACY: EXCERPT
//------------------------------------------------------------------------------
// #region

// Hide stats on portrait phones
.postspost small > [data-toggle='tooltip']:nth-child(n+5) {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.postspost > div:nth-child(2) {
  padding-top: $size-2;
}

.postspost > div:nth-child(2),
.postspost [data-toggle='tooltip'] {
  .glyphicon,
  .glyphicons {
    margin-left: $size-1;
  }
}

// #endregion
